.Hours_area{
    position: absolute;
    height: 75px;
    width: 85px;
    background-color: #F5EB6d;
    
    left: 5px;
    bottom: 5px;
    border-radius: 20px;
}.Minutes_area{
    position: absolute;
    height: 75px;
    width: 85px;
    background-color: #ed8554;
    
    left: 105px;
    bottom: 5px;
    border-radius: 20px;
}.Seconds_area{
    position: absolute;
    height: 75px;
    width: 85px;
    background-color: #be375f;
    
    left: 205px;
    bottom: 5px;
    border-radius: 20px;
}.Hours_value{
    position: absolute;
    font-size: 60px;
    left: 8px;
    bottom: 1px;
}.Minutes_value{
    position: absolute;
    font-size: 60px;
    left: 8px;
    bottom: 1px;
}.Seconds_value{
    position: absolute;
    font-size: 60px;
    left: 8px;
    bottom: 1px;
}.colon_minutes{
    position: absolute;
    font-size: 67px;
    left: 90px;
    bottom: 7px;
    color: white;
}.colon_seconds{
    position: absolute;
    font-size: 67px;
    left: 190px;
    bottom: 7px;
    color: white;
}